@media (max-width:320px) {
    
    #page-search-results main .cards {
        grid-template-columns: 1fr;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    body::after {
        top:300px
    }

    #page-search-results header a {
        font-size: 0.01px;
    }

}



@media (max-width:900px) {
    #page-home {
        background-position-x: 70vw;
    }
    #page-home .content {
        align-items: center;
        text-align: center;
    }
    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translatex(-50%);
    }
    #page-home main {
        align-items:center;
    }

    #page-search-results main .cards {
        grid-template-columns: 1fr 1fr;
    }

    #page-create-point .field-group {

        flex-direction: column;
    }
    
    #page-create-point form .field-group .field + .field {
        margin-left: 0;
    }


}

@media (min-width:1024px) {

    #page-home {

        background-position-x: 40vw;
    }

}
